@font-face {
  font-family: "Abel";
  src:url(Fonts/Abel/Abel-Regular.ttf);
}
@font-face {
  font-family: "Merriweather";
  src:url(Fonts/Merriweather/Merriweather-Light.ttf);
}
@font-face {
  font-family: "Open-Sans";
  src:url(Fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}
@font-face {
  font-family: "PT-Sans";
  src:url(Fonts/PT_Sans/PTSans-Regular.ttf);
}
@font-face {
  font-family: "Quicksand";
  src:url(Fonts/Quicksand/static/Quicksand-Light.ttf)
}
@font-face {
  font-family: "Yellowtail";
  src:url(Fonts/Yellowtail-Regular.ttf)
}
@font-face {
  font-family: "Open-Sans bold";
  src:url(Fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf)
}

@font-face {
  font-family: "Roboto Mono";
  src:url(Fonts/RobotoMono-VariableFont_wght.ttf)
}

@font-face {
  font-family: "Krona One";
  src:url(Fonts/Krona_One/KronaOne-Regular.ttf);
}

@font-face {
  font-family: "Economica";
  src:url(Fonts/Economica/Economica-Regular.ttf);
}

@font-face {
  font-family: "Poiret";
  src:url(Fonts/Poiret_One/PoiretOne-Regular.ttf);
}

@font-face {
  font-family: "Passion";
  src:url(Fonts/Passion_One/PassionOne-Regular.ttf);
}

@font-face {
  font-family: "Paytone";
  src:url(Fonts/Paytone_One/PaytoneOne-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src:url(Fonts/Poppins/Poppins-Bold.ttf);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title {
  font-family: 'Merriweather';
  font-size: 80px;
  text-align: center;
}

.pg {
  line-height: 1.6em;
  margin-top: 150px;
  font-family: 'Open-Sans bold';
  font-size: 20px;
  text-align: left;
}


head {
  margin: 0px;
}

nav {
  z-index:1;
  position:fixed;
  top:0;
  width:100%;
  font-family:'Quicksand';
  background-color: rgb(235,235,235);
  overflow: auto;
}

.link {
  padding: 30px;
  display: inline-block;
  color: black;
  text-decoration:none;
  font-size: 26px;
  width: 25%;
  text-align: center;
}

.link:hover{
  background-color:lightgray;
  color: black;
}

.active {
  background-color: lightslategray;
  color: black;
}

body {
  overflow-x: hidden;
  margin:0px;
  padding:0px;
}

/*HOME START*/

#banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

#banner-image {
  background-image:url('Pictures/mountainrange2.jpg');
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
  position: absolute;
  margin:0;
}

#header {
  width:100%;
  margin-top: 0;
  top: 20%;
  position:relative;
  text-align: center;
}

#Markings {
  font-family: 'Abel';
  font-size: 125px;
  text-align: center;
}

#of-a {
  font-family: 'Abel';
  font-size: 80px;
  text-align: center;
}

#Minimalist {
  font-family: 'Abel';
  font-size: 110px;
  text-align: center;
}

#subtext {
  font-family: 'PT-Sans';
  color: white;
  font-size: 20px;
  text-align: center;
}

#grey-box {
  left: 32%;
  top: 20%;
  height: 50%;
  width: 36%;
  background-color: rgb(128, 128, 128);
  opacity: 0.7;
  position: absolute;
}

#preamble {
  width: 100%;
  height:100vh;
  text-align: center;
  background-color: rgb(66, 80, 62);
  color: rgb(255,212,175);
  position: relative;
}

#photo-flower {
  background-image:url('Pictures/rose.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  margin-right: 10%;
  margin-top: 10%;
  float: right;
  width:30vw;
  height:60vh;
}

#preamble-text {
  position:relative;
  top: 15%;
  margin-left: 10%;
  margin-right: 55%;
}


#Minimalism {
  width: 100%;
  height: 95vh;
  text-align: center;
  background-color: ghostwhite;
  color: rgb(112, 112, 112);
  position:relative;
}

#minimalism-text {
  top: 5%;
  position:relative;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

#most-recent {
  width: 100%;
  height:95vh;
  text-align: center;
  background-color: rgb(4, 43, 82);
  color: rgb(244, 245, 210);
  position: relative;
}

#most-recent-text {
  top: 5%;
  position:relative;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}


*,*::before,*::after{
  box-sizing: border-box;
}
h2 {
  margin: 0;
}


/*CREATIVE START */



#creative-header {
  background-size: 100% 100%;
  width:100vw;
  height: 100vh;
  background-image:url('Pictures/snowscape.jpg');
}

.blurred-box{
  position: relative;
  width: 30vw;
  height: 30vh;
  top: calc(50% - 15vh);
  left: calc(50% - 15vw);
  backdrop-filter: blur(7px);
  text-align: center;
}

#creative-text{
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #ffb6c1,
						20px 20px #00008B;
  position:relative;
  top: 20%;
  font-family: 'Yellowtail';
  text-align: center;
}

#creative-subtext {
  font-size: 60px;
  font-family: 'Quicksand';
  text-align: center;
  margin-top: 22%;
}

/* CODING START */

.gradient-bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
	background: linear-gradient(-45deg, #696969, #000000, #696969, #000000);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.white-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(235,235,235);
  position: relative;
}

.black-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0);
  position:relative;
}

.white-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  height: 30vh;
  background: #008F11;

}

#coding-title {
	background: linear-gradient(45deg, #000000, #696969, #000000, #696969, #000000);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 25%;
  text-align: center;
  line-height: 100%;
  font-size: 9em;
  font-family: 'Roboto Mono';
  width:100%;
  height: 100%;
}

#website-title {
  font-family: 'Roboto Mono';
  font-size: 4em;
  text-align: center;
  color: ghostwhite;
  position: relative;
  top: 18%;
}

#website-pg {
  font-family: 'Roboto Mono';
  font-size: 1.5em;
  text-align: left;
  width: 35%;
  top: 40%;
  left: 15%;
  color: ghostwhite;
  position: relative;
}

.website-pic {
  position: relative;
  left: 60%;
  background-size:contain;
}



/* ABOUT START */
.lightergrey {
  width: 100vw;
  height: 100vh;
  background-color: rgb(40,40,40);
  position: relative;
}

.about-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding-top: 2%;
  width: 65%;
  height: 80%;
}

.about-header {
  position: absolute;
  top: 7%;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image:url('Pictures/Mark.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about-header-head {
  position: absolute;
  top: 7%;
  left: 10%;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image:url('Pictures/Markcutout.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  transition: 0.3s;
}

.about-container:hover .about-header-head{
  opacity: 1;
}

.about-text-first {
  letter-spacing: 0.2em;
  left: 3.1%;
  position:absolute;
  text-align: left;
  font-family: 'Poppins';
  font-size: 5.5vw;
  color: rgb(100,100,100);
  opacity: 0.60;
  transition: 0.3s;
}

.about-text-second {
  letter-spacing: 0.5em;
  left: 3.1%;
  top: 25%;
  position:absolute;
  text-align: left;
  font-family: 'Poiret';
  font-size: 7vw;
  color: rgb(100,100,100);
  opacity: 0.60;
  transition: 0.3s;
}

.about-container:hover .about-text-first {
  opacity:0.3;
}
.about-container:hover .about-text-second {
  opacity:0.3;
}

.about-text-name-first {
  letter-spacing: 0.2em;
  left: 3.1%;
  position:absolute;
  text-align: left;
  font-family: 'Poppins';
  font-size: 5.5vw;
  color: rgb(100,100,100);
  opacity: 0;
  transition: 0.3s;
}

.about-text-name-second {
  letter-spacing: 0.5em;
  left: 3.1%;
  top: 25%;
  position:absolute;
  text-align: left;
  font-family: 'Poiret';
  font-size: 7vw;
  color: rgb(100,100,100);
  opacity: 0;
  transition: 0.3s;
}

.about-container:hover .about-text-name-first{
  color: rgb(64, 185, 189);
  opacity: 1;
}

.about-container:hover .about-text-name-second{
  color: rgb(64, 185, 189);
  opacity: 1;
}

.darkergrey {
  position: relative;
  background-color: rgb(30,30,30);
  width: 100vw;
  height: 100vh;
}

.who-title {
  position: relative;
  color: lightgray;
  font-family: 'Open-Sans bold';
  font-size: 4vw;
  top: 20%;
  left: 7%;
}

.who-text {
  line-height: 1.7em;
  letter-spacing: 0.075em;
  position:relative;
  color: lightgray;
  font-family: 'Open-Sans';
  font-size: 1.3vw;
  top:33%;
  left:7%;
}

.broken-leg-mark {
  background-size:contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 34%;
  top: 25%;
}

.osburrito {
  background-size:contain;
  background-repeat: no-repeat;
  position: absolute;
  right:15%;
  top: 15%;
}


.why-title {
  position: relative;
  color: ghostwhite;
  font-family: 'Open-Sans bold';
  font-size: 4vw;
  top: 20%;
  left: 45%;
}

.why-text {
  line-height: 1.7em;
  letter-spacing: 0.075em;
  position:relative;
  color: ghostwhite;
  font-family: 'Open-Sans';
  font-size: 1.3vw;
  top:33%;
  left: 45%;
}

.plane-image {
  background-size:contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 28%;
  top: 55%;
}

.city-image {
  background-size:contain;
  background-repeat: no-repeat;
  position: absolute;
  left:8%;
  top: 10%;
}

.city-image-2 {
  background-size:contain;
  background-repeat: no-repeat;
  position: absolute;
  left:10%;
  top: 48%;
}


.resume {
  line-height: 1.7em;
  letter-spacing: 0.075em;
  position:relative;
  color: ghostwhite;
  font-family: 'PT-Sans';
  font-size: 2.3vw;
  top:20%;
  left: 25%;
}

.resume {
  line-height: 1.7em;
  letter-spacing: 0.06em;
  position:relative;
  color: ghostwhite;
  font-family: 'PT-Sans';
  font-size: 2.3vw;
  top:20%;
  left: 15%;
}

.contact {
  line-height: 1.7em;
  letter-spacing: 0.04em;
  position:relative;
  color: ghostwhite;
  font-family: 'PT-Sans';
  font-size: 1.3vw;
  left: 25%;
  top: 70%;
}